DATABASE_URL="db://db:password@localhost:3232/namedb?schema=public"
JWT_SECRET="123456789"
PRISMA_SCHEMA_PATH="./prisma/schema"
EMAIL_USER="seu@email.com"
BASE_URL="http://localhost:3333/user"
EMAIL_PASSWORD="xxxx xxxx xxxx xxxx"
SERVICE_GMAIL="gmail"