DATABASE_URL="db://db:password@localhost:5432/yourdbname?schema=public"
JWT_SECRET="32017845927189389219038209174829183091282918"
PRISMA_SCHEMA_PATH="./prisma/schema"
EMAIL_USER="youremail@gmail.com"
API_URL="http://localhost:0000"
FRONT_URL="http://localhost:5555"
EMAIL_PASSWORD="xxxx yyyy zzzz vvvv"
SERVICE_GMAIL="gmail"
NODE_ENV=development